<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        <b>Proven learning approaches</b><br>
        Teaching is one of the most challenging and complex jobs on the planet. Our digital resources, tools, and learning materials are developed by educational experts to incorporate leading pedagogical practices. 
        They are useful in any type of teaching moment and many can be used to support national education standards.
    </p>
    <p>
        <b>Empowered educators</b><br>
        From school teachers and tutors to home schoolers and parents, engaged adults are the key to unlocking each child's potential and drive to learn. We empower all kinds of educators to teach kids by providing the best educational resources in any form or device to be used at home, at school, 
        and everywhere in-between.
    </p>
    <p> 
        <b>Unique experiences</b><br>
       There is no such thing as "one size fits all" in education; each educator and child has unique challenges and goals. We celebrate the diversity of our users by offering differentiated resources that can meet a wide range of educational needs - and raise kids' 
       confidence in learning.
    </p>
    <p>
        <b>Conscientious and supportive</b><br>
        We continue to provide academically sound content of the highest caliber and welcome input from our users as we address issues of equity, diversity, inclusivity and representation. Since we know there are many different approaches to teaching and education, 
        we develop our materials to complement these different philosophies across subjects and grades.
    </p>
    <h1>What our members say</h1>
    <p>
        Students like the interactive games to practice reading and writing. As a teacher, I love the correlation to standards, and that I am able to see the progress and struggles my students have in obtaining skills.<br>
    <br>
        - Sara D., Teacher
    </p>
    <p>
        Education.com has been an invaluable aid to me in teaching my children from home, no matter what the grade level. It's so quick and easy to look for and download specifically what I need in a moment, and at a most reasonable cost.<br>
    <br>
- Patricia K., Homeschooler
    </p>
    
    <div class="follow text-center">
        <h4> Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>


