.home img
{
    width:100%;
    height:550px;
    object-position: center;
    object-fit:fill;
}

.homecontent
{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50,-50);

}
.homecontent h1
{
    color: rgb(224, 145, 26);
}