.footer-logo {
    text-align:center;
}

.footer-nav {
    text-align:center;
}
.footer-nav li {
    margin-top: 10px;
}

.footer-social {
    text-align:center;
}
.footer-social li {
    margin-top: 10px;
}

.footer-copyright {
    text-align:center;
    margin-top: auto;


}

.footer .row g-5 p{
    border-left-style:-50px ;
    columns: 50px;
    
}