.footer-logo {
    text-align:center;
}

.footer-nav {
    text-align:center;
}
.footer-nav li {
    margin-top: 10px;
}

.footer-social {
    text-align:center;
}
.footer-social li {
    margin-top: 10px;
}

.footer-copyright {
    text-align:center;
    line-height:inherit;
    margin-top:20px;
}
