<!-- <div class="container-fluid bg-dark text-light footer pt-0 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5" class="footer-content">
            <div class="col-lg-3 col-md-6" >
                <h4 class="text-white mb-3">Quick Link</h4>
                <a routerLink="/about" class="btn btn-link" href="">About Us</a>
                <a routerLink="/contact" class="btn btn-link" href="">Contact Us</a>
               
            </div>
        <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3" class="contact">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>MIDC, Mahape, Navi Mumbai</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>LearnHub@gmail.com</p>
                <div class="share">

                    <a href="#" class="fab fa-facebook-f"></a>
    
                    <a href="#" class="fab fa-twitter"></a>
    
                    <a href="#" class="fab fa-instagram"></a>
    
                    <a href="#" class="fab fa-linkedin"></a>
    
                </div>
            </div>
           
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">LearnHub</a>, All Right Reserved.

                   
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">Group 1</a><br><br>
                    
                </div>
                
            </div>
        </div>
    </div>
</div> -->

<div class="footer">

    <div class="box-container" >

        <div class="box" >
            <h3>branch locations</h3>
            <a href="#" >India</a>
            <a href="#">USA</a>
            <a href="#">france</a>
            <a href="#">russia</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a routerLink="home">home</a>
            <a routerLink="about">about</a>
            <a routerLink="courses">course</a>
            <!--a routerLink="teacher">teachers</a-->
            <a routerLink="contact">contact</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-map-marker-alt"></i> mumbai, india 400104. </p>
            <p> <i class="fas fa-envelope"></i> example@gmail.com </p>
            <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
        </div>

    </div>

    <h1 class="credit" style="padding-bottom: 5px;">created by <a href="#">mr. web designer</a> all rights reserved. </h1>

</div>


<!-- Footer End -->