.navbar

{

    background-color:rgb(245, 160, 238);

    background-size: 2px;

}

.navbar-light .navbar-nav .nav-link

{

    color:white;

    font-size: 18px;

}

.navbar-light .navbar-nav .nav-link:hover

{

    text-decoration: underline;

    text-decoration-color: rgb(13, 177, 81);

}

.navbar-brand

{

    color:rgb(209, 102, 14);

    font-size: 3s0px;

}


