.joinnow
{
    background-color: rgb(142, 206, 226);
    padding: 100px 80px;
    text-align: center;
}
.login
{
    background-color: aquamarine;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{
    .joinnow
{
    padding: 140px 50px;
    
}
}
 .joincernter
 {
     text-align: center;
 }
