.joinnow
{
    background-color: #eff6ff;
    padding: 100px 80px;
  
}
.login
{
    background-color: aquamarine;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{
    .joinnow
{
    padding: 140px 50px;
}
}
    
